.background__svg{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 28%, rgba(117,107,91,1) 68%, rgba(255,255,255,1) 98%);

}

.advogados__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
}

.advogados__titulo-principal{
    font-size: 70px;
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    margin-left: 2rem;
}
.advogados__box{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    border: #756b5b 1px solid;
    border-radius: 50px;
    padding: 2.5% 2.5%;
    background-color: #111111;
}
.advogados__img{
    width: 30%;
    border-radius: 30px;
    border: #756b5b 3px solid;
    
}

.advogados__descricao{
    width: 60%;
    display: flex;
    flex-direction: column;
   text-align: center;
   justify-content: space-between;
}
.advogados__descricao li{
    margin: 2rem 0;
}
.advogado__nome{
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
}
.advogado__paragrafo{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: justify;
}

.advogado__certificacoes{
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.advogado__link{
    text-decoration: none;
    color:#756b5b;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.advogado__whats{
    text-decoration: none;
    font-size: 24px;
    text-align: bottom;
    padding: 10px;
    background-color: #088804;
    color: black;
    border-radius: 20px;
    width: 30%;
    margin: 0 35%;
    
    

}

.advogado__whats-img{
    width: 22px;
    

}

@media (max-width:790px){
    .advogados__container{
        width: 100%;
        margin: 0;
        align-items: center;
    }

    .advogados__titulo-principal{
        margin-left: 0;
        padding: 0 10px;
    }
    .advogados__box{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 10px 0;
        border-radius: 0;
    }
    .advogados__img{
        width: 95%;
        margin: 0;
    }

    .advogado__img-02{
        order: -2;
    }
    .advogados__descricao{
        width: 95%;
    }
    .advogado__whats{
        width: 90%;
        margin: 0;
        
    }
}