.sobre__container{
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 10% 5% 10%;
    align-items: center;

}
.sobre__titulo{
    font-size: 70px;
    text-align: center;
    color: #000000;
    font-family: 'Roboto Slab', serif;
    
}

.sobre__paragrafo{
    font-size: 24px;
    text-align: justify;
    
}

.sobre__container-paragrafos{
    width: 100%;
}
